@font-face {
    font-family: Open Sans;
    font-weight: normal;
    src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
}

@font-face {
    font-family: Open Sans;
    font-weight: bold;
    src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
}

body {
    margin: 0;
    font-family: Open Sans;
}

h1,
h2,
h3,
h4,
h5,
ul,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.menu-intro {
    padding-top: 28px;
    padding-bottom: 130px;

    background-image: url(../img/banner-bg.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;

    z-index: 0;
}

.menu-intro:after {
    content: "";
    background-color: #000000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.6;
    z-index: -1;
}

.logo-image {
    width: 179px;
}

.navbar {
    max-width: 1170px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.burger-nav {
    display: none;
}

.burger-menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 30vw;
    height: 100vh;
    box-sizing: border-box;
    background-color: #000;
    text-align: right;
    padding: 2%;
}

.burger-button {
    display: none;
}

.close-button {
    width: 20px;
    height: 20px;
    background-image: url(../svg/form-x.svg);
    display: block;
    margin-left: -10vw;
}

.burger-menu__button {
    margin: 4vh 0;

    list-style-type: none;
}

.navbar-menu__link {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    font-family: Open Sans;
}

.navbar-menu__link:hover {
    text-decoration: underline;
}

.navbar-menu__button {
    display: inline-block;
    list-style-type: none;
}

.navbar-menu__button:nth-child(n+2) {
    margin-left: 31px;
}

.intro {
    margin: 100px auto 0;
    max-width: 700px;
}

.intro-content {
    color: #fff;
    text-align: center;
    font-size: 45px;
    line-height: 1.6;
    font-weight: bold;
    text-transform: uppercase;
}

.main-content-with-aside {
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    margin: 55px auto;
}

/*Trends*/

.trends {
    margin: 30px auto 0;
}

.trends-section-name {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

.trends-section-name:after {
    content: "";
    display: block;
    background-color: #b59f5b;
    height: 3px;
    width: 66px;
    margin: 10px auto 20px;
    opacity: 0.4;
}

.trends-container {
    display: flex;
    flex-wrap: nowrap;
}

.trend-item {
    height: 20rem;
    width: 25%;

    display: flex;
    align-items: flex-end;

    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
}

.trend-item:nth-child(1) {
    background-image: url(../img/trend1.jpg);
}

.trend-item:nth-child(2) {
    background-image: url(../img/trend2.jpg);
    margin: 0 1px 0px 2px;
}

.trend-item:nth-child(3) {
    background-image: url(../img/trend3.jpg);
    margin: 0 2px 0px 1px;
}

.trend-item:nth-child(4) {
    background-image: url(../img/trend4.jpg);
}


.trend-item:after {
    content: "";
    background-color: #000000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.6;
    z-index: -1;
}

.trend-item__info {
    width: 100%;
    border: 3px solid #b59f5b;
    padding: 30px;
    margin: 0 20px 20px;
}

.trend-list__header-name {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
}

.trend-list__header-name:hover {
    color: #b59f5b;
}

/*Posts*/

.post-list {
    display: flex;
    max-width: 778px;

    font-family: Open Sans;
}

.post-list:nth-child(6) {
    display: none;
    /*скрыл блок, как в макете*/
}

.post-list:nth-child(n+2) {
    margin-top: 60px;
}

.post-list__image {
    width: 100%;
    height: 100%;
}

.post-list__frame {
    margin-left: 30px;
}

.post-list__container {
    list-style-type: none;
}

.post-list__categories {
    display: inline;
}

.post-list__categories:nth-child(n+2) {
    margin-left: 20px;
}

.post-list__categories-link {
    color: #b59f5b;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

.post-list__categories-link:hover {
    text-decoration: underline;
}

.post-list__header {
    text-decoration: none;
}

.post-list__header-name {
    font-size: 20px;
    color: #0f0d0e;
    text-transform: uppercase;
}

.post-list__header-name:hover {
    color: #b59f5b;
}

.post-list__data {
    color: #888888;
    font-size: 12px;
    margin: 35px 0 45px 0;
}

.post-list__author {
    margin-left: 15px;

    color: #000000;
    font-size: 12px;
    font-weight: bold;
}

.post-list__text {
    margin: 0;
    font-size: 15px;
    line-height: 1.46;
}

.post-list__another-text {
    margin-top: 20px;
}

.right-sidebar {
    max-width: 280px;
}

.right-sidebar-section-name {
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
}

.right-sidebar-section-name:after {
    content: "";
    display: block;
    background-color: #b59f5b;
    height: 3px;
    width: 66px;
    margin: 14px auto 20px;
    opacity: 0.4;
}

.right-sidebar__new-post {
    display: flex;
    margin-bottom: 22px;
}

.new-post-image {
    width: 81px;
    height: 81px;
}

.new-post-info__data {
    font-size: 12px;
    margin: 0 0 10px 0;
    opacity: 0.54;
}

.new-post-info__name {
    color: #000;
    text-decoration: none;
}

.new-post-info__name:hover {
    color: #b59f5b;
}


.new-post-info__name-header {
    font-size: 14px;
    text-transform: uppercase;
}

.new-post-info {
    margin-left: 20px;
}

.search-panel {
    height: 48px;
    display: flex;
}

.search-panel__label {
    width: 100%;
}

.search-panel__text {
    height: 48px;
    width: 100%;
    padding: 20px;

    border-radius: 0;
    border: none;
    background-color: #f4f7f6;

}

.search-panel__button {
    height: 48px;
    width: 48px;

    border-radius: 0;
    border: none;

    background-color: #b59f5b;
    background-image: url(../svg/search.svg);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

.right-sidebar-section-name:nth-child(n+2) {
    margin-top: 60px;
}

.screenreader-text {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.subscribe-newsletter__email {
    height: 44px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;

    border-radius: 0;
    border: none;
    background-color: #f4f7f6;
}

.subscribe-newsletter__consent-button {
    height: 44px;
    width: 100%;
    margin-top: 15px;

    border-radius: 0;
    border: none;
    background-color: #b59f5b;

    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.tag-button {
    list-style-type: none;
    display: inline-block;
    padding: 3px 10px;
    margin: 0 5px 5px 0;

    background-color: #fff;
    border: solid 3px #eeeeee;
}

.tag-button__link {
    text-decoration: none;
    color: #000;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}

.tag-button:hover {
    border: solid 3px #b59f5b;
    cursor: pointer;
}

.right-sidebar__themes {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.right-sidebar__themes-content {
    padding: 15px 0;
    border-bottom: solid 1px #eeeeee;
}

.themes-content__link {
    color: #000;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.themes-content__link:hover {
    color: #b59f5b;
    cursor: pointer;
}

.posts-quantity {
    color: #b59f5b;
    font-size: 12px;

    margin-left: 5px;
    vertical-align: super;
}

/*Catalog*/

.catalog {
    max-width: 1170px;
    margin: 60px auto;
}

.catalog-items-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.catalog-item {
    width: 25%;
    padding: 10px 20px;

    position: relative;
}

.catalog-item__img {
    width: 100%;
}

.catalog-section-name {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

.catalog-section-name:after {
    content: "";
    display: block;
    background-color: #b59f5b;
    height: 3px;
    width: 66px;
    margin: 10px auto 20px;
    opacity: 0.4;
}

.price-cart-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: flex-end;
}

.catalog-item-info {
    margin-top: 15px;
}

.catalog-item__name {
    font-size: 20px;
    text-transform: uppercase;
}

.old-price {
    text-decoration: line-through;
    font-size: 14px;
}

.price {
    font-size: 20px;
}

.cart-button {
    background-color: #b59f5b;
    padding: 15px 30px;
}

.in-cart-text {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.link-in-description {
    color: #b59f5b;
}

.catalog-item-info:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 65%;
    border: #b59f5b 3px solid;
    top: 40%;
    left: 0;
}

/*Footer*/

.footer-content {
    max-width: 1170px;
    margin: 85px auto 0;
}

.social-media {
    padding: 30px 0;
    text-align: center;
    background-color: #f4f7f6;
}

.social-media__icons {
    list-style-type: none;
}

.social-media__icons-content {
    display: inline-block;
}

.dribble-icon,
.pinterest-icon,
.tumblr-icon {
    height: 20px;
    width: 20px;
    display: block;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.dribble-icon {
    background-image: url(../svg/001-dribbble.svg);
}

.pinterest-icon {
    background-image: url(../svg/001-pinterest.svg);
}

.tumblr-icon {
    background-image: url(../svg/003-tumblr.svg);
}

.copyright-tag {
    margin: 75px 0 0 0;
    text-align: center;

    font-size: 12px;
    color: #999999;
    font-weight: bold;
}

.copyright-tag__link {
    text-decoration: none;
    font-size: 12px;
    color: #999999;
    font-weight: bold;
}

.popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.popup:after {
    content: '';

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    z-index: -1;
    background-color: #000;
    opacity: 0.6;
}

.close-button {
    width: 25px;
    height: 25px;

    background-image: url(../svg/form-x.svg);
    position: absolute;
    top: -30px;
    right: 0;

    cursor: pointer;
}

.popup-container {
    max-width: 20%;
    background-color: #fff;
    font-weight: bold;

    padding: 3.5rem 1.875rem;

    position: relative;
}

.popup__header {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

.popup__header:after {
    content: "";
    display: block;
    background-color: #b59f5b;
    height: 3px;
    width: 66px;
    margin: 10px auto 20px;
    opacity: 0.4;
}

.step__main {
    height: 44px;
    min-width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin: 5px 0 0 0;

    border-radius: 0;
    border: none;
    background-color: #f4f7f6;
    font-size: 13px;
    font-family: Open Sans;
}

.form-step {
    margin-bottom: 30px;
}

.label-container {
    font-weight: normal;
    font-size: 13px;
}

.step__main[name="frequency"] {
    appearance: none;
    position: relative;
}

.frequency-container {
    position: relative;
}

.frequency-container::after {
    position: absolute;
    top: 20px;
    right: 10px;
    width: 15px;
    height: 15px;
    display: block;

    content: '';
    background-image: url(../svg/form-arrows.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.radio {
    display: none;
}

.checkboxes-container {
    margin-top: 10px;
}

.checkboxes-container label {
    cursor: pointer;
    position: relative;
    padding-left: 20px;
}

.checkboxes-container label:before {
    content: "";
    width: 18px;
    height: 18px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url(../svg/form-empty-circle.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.radio:checked+label:before {
    background-image: url(../svg/form-circle.svg);
}

.checkboxes-container label:hover:before {
    filter: brightness(120%);
}

.radio-no {
    margin-left: 2%;
}

.text-area {
    min-height: 150px;
    max-height: 50vh;
}

.send-form-button {
    height: 50px;
    width: 100%;
    border-radius: 0;
    border: none;
    background-color: #b59f5b;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.hidden {
    display: none;
}

@media (min-width: 641px) and (max-width: 1200px) {
    .menu-intro {
        background-image: url(../img/banner-bg-tablet.jpg);
    }

    .navbar {
        max-width: 90vw;
    }

    .navbar-menu {
        display: none;
    }

    .burger-nav {
        display: block;
    }

    .burger-button {
        display: block;
        background-image: url(../img/burger-menu.png);
        width: 30px;
        height: 30px;
        background-size: cover;
    }

    .intro-content {
        font-size: 2.5rem;
    }

    .trends-section-name {
        font-size: 1.25rem;
    }

    .trend-list__header-name {
        font-size: 1.0625rem;
    }

    .trends-container {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .trend-item {
        width: 49.5%;
        margin: 0;
    }

    .trend-item:nth-child(2) {
        margin: 0;
    }
    
    .trend-item:nth-child(3) {
        margin: 0;
    }

    .trend-item:nth-child(n+3) {
        margin: 8px 0 0 0;
    }

    .post-list {
        flex-wrap: wrap;
    }

    .post-list__data {
        margin: 3px 0;
    }

    .post-list__frame {
        margin: 0;
    }

    .post-list__header-name {
        font-size: 1.0625rem;
    }

    .post-list:after {
        content: "";
        display: block;
        background-color: #eeeeee;
        height: 3px;
        width: 100%;
        margin-top: 3vh;
        opacity: 0.4;
    }

    .main-content-with-aside {
        max-width: 90vw;
    }

    .main-content {
        max-width: 50%;
    }

    .catalog {
        max-width: 90vw;
        margin: 60px auto;
    }

    .catalog-section-name {
        font-size: 1.125rem;
    }

    .catalog-items-container {
        flex-wrap: wrap;
    }

    .catalog-item {
        width: 40%;
    }

    .catalog-item:nth-child(n+3) {
        margin-top: 50px;
    }

    .catalog-item__name {
        font-size: 1.0625rem;
    }

    .catalog-item__description {
        font-size: 0.9375rem;
    }

    .footer-content {
        max-width: 90vw;
    }

    .popup-container {
        max-width: 50%;
    }
}

@media (max-width: 640px) {
    .menu-intro {
        background-image: url(../img/banner-mobile.jpg);
    }

    .navbar {
        max-width: 90vw;
        position: relative;
    }

    .navbar-menu {
        display: none;
    }

    .menu-intro {
        height: 100vh;
        box-sizing: border-box;
    }

    .burger-nav {
        display: block;
    }

    .burger-button {
        display: block;
        background-image: url(../img/burger-menu.png);
        width: 30px;
        height: 30px;
        background-size: cover;
        position: absolute;
        top: 0;
        right: 0;
    }

    .intro {
        margin: 45px auto 0;
        max-width: 280px;
    }

    .intro-content {
        font-size: 1.625rem;
    }

    .logo-link {
        margin: 35vh auto 0;
    }

    .logo-image {
        width: 269px;
    }

    .trends {
        margin: 30px auto;
    }

    .trends-section-name {
        font-size: 1.25rem;
    }

    .trend-list__header-name {
        font-size: 1.0625rem;
    }

    .trends-container {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .trend-item {
        width: 100%;
        margin: 0;
    }

    .trend-item:nth-child(2) {
        margin: 0;
    }
    
    .trend-item:nth-child(3) {
        margin: 0;
    }

    .post-list {
        flex-wrap: wrap;
    }

    .post-list__data {
        margin: 3px 0;
    }

    .post-list__frame {
        margin: 0;
    }

    .post-list__header-name {
        font-size: 1.0625rem;
    }

    .post-list:after {
        content: "";
        display: block;
        background-color: #eeeeee;
        height: 3px;
        width: 100%;
        margin-top: 3vh;
    }

    .post-list:nth-last-child(2):after {
        content: "";
        display: none;
        background-color: #eeeeee;
        height: 3px;
        width: 100%;
        margin-top: 3vh;
    }

    .main-content-with-aside {
        max-width: 90vw;
        flex-wrap: wrap;
    }

    .main-content {
        max-width: 100%;
    }

    .right-sidebar {
        margin-top: 5vh;
        max-width: 100%;
    }

    .catalog {
        max-width: 100vw;
        margin: 60px auto;
    }

    .catalog-item {
        width: 100%;
    }

    .catalog-item__img {
        width: 100%;
    }

    .catalog-section-name {
        font-size: 1.125rem;
    }

    .catalog-items-container {
        flex-wrap: wrap;
        justify-content: center;
        max-width: 80vw;
    }

    .catalog-item:nth-child(n+2) {
        margin-top: 50px;
    }

    .catalog-item__name {
        font-size: 1.0625rem;
    }

    .catalog-item__description {
        font-size: 0.9375rem;
    }

    .footer-content {
        max-width: 90vw;
    }

    .popup-container {
        max-width: 90vw;
        max-height: 90vh;
        box-sizing: border-box;
    }
}

@media (max-height: 640px) and (orientation:landscape) {
    .trends-container {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .trend-item {
        width: 49.5%;
        margin: 0;
    }

    .trend-item:nth-child(n+3) {
        margin: 8px 0 0 0;
    }
}

@media (min-height: 641px) and (max-height: 1200px) and (orientation:landscape) {

    .trends-container {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .trend-item {
        width: 25%;
        margin: 0;
    }

    .trend-item:nth-child(n+3) {
        margin: 0;
    }
}